apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask
          image: shoushaa/flask-docker:1
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /users
              port: 5000
            initialDelaySeconds: 20
          livenessProbe:
            httpGet:
              path: /users
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 5
          resources:
            requests:
              memory: 250Mi
              cpu: 80m
      #imagePullSecrets: