# This workflow will: 
#   1- build and push a new container image to Amazon ECR
#   2- deploy a to Amazon EKS, when there is a push to the "master" branch.

name: Build and Deploy to EKS

on:
  push:
    branches: [ "master" ] # Only triggers the workflow when there's a push to the "master" branch
    paths: ['code/**']     # Only run the workflow if changes are made in the "code" directory

env:
  AWS_REGION: us-east-1          
  ECR_REPOSITORY: flask          
  EKS_CLUSTER_NAME: eks-cluster
  IMAGE_TAG: ${{ github.run_number }} # Tag images with the build number 

permissions:
  contents: read

jobs:
  ci-cd:
    name: Build and deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        # Build a docker container and
        # push it to ECR so that it can
        # be deployed to ECS.
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./code/
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest ./code/
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
    
    # Connect to EKS Cluster to deploy k8s resources 
    - name: Update kube config
      run: aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region $AWS_REGION

    - name: Deploy to EKS
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}        
      run: |
        sed -i.bak "s|DOCKER_IMAGE|$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG|g" ./manifests/deployment.yml && \
        kubectl apply -f manifests/.